@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root{
    --fundo: rgb(0,0,0);
    --fundo_transparencia: rgba(0, 0, 0, 0.394);
}

*{
   margin: 0px;
}

body{
   background-color: var(--fundo);
   color: white;
}

header{
    background-color: var(--fundo);
    margin: auto;
    color: white;
    text-align: center;
    padding: 50px;
}

h1{
    font-family: 'Poiret One', cursive,Arial, Helvetica, sans-serif;
    font-size: 80px;
}